<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="container">
{% block content %}
    <aside class="sidebar">
        <h2>ElaAdmin</h2>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li class="active"><a href="/ogrenciler">Öğrenciler</a></li>
            <li><a href="/dersler">Dersler</a></li>
            <li><a href="/ayarlar">Ayarlar</a></li>
        </ul>
    </aside>

    <main class="main">
        <div class="topbar">
            Hoş geldin
        </div>

            <div class="card">
            <form action="/ogrenciler/add" method="post">
                <label for="name">Ad:</label>
                <input type="text" id="name" name="name" required>

                <label for="number">Numara:</label>
                <input type="text" id="number" name="number" required>

                <label for="class_id">Sınıf:</label>
                <select id="class_id" name="class_id">
                    {% for cls in classes %}
                        <option value="{{ cls.id }}">{{ cls.name }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Öğrenci Ekle</button>
            </form>

            </div>
        

    </main>

</div>
{% endblock %}
</body>
</html>
