<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
{% block content %}
<div class="container">

    <aside class="sidebar">
        <h2>MindClass</h2>
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/ogrenciler">Öğrenciler</a></li>
            <li class="active"><a href="/dersler">Dersler</a></li>
            <li><a href="/sinavlar">Sınavlar</a></li>
        </ul>
    </aside>

    <main class="main">
        <div class="topbar">
            <a href="/dersler/add">Ders Ekle</a>
        </div>

        {% for l in lessons %}
            <div class="card">
            <h3>{{ l.lesson }} - {{ l.topic }}</h3>
            <p>{{ l.desc }}</p>
            <iframe src="https://www.youtube.com/embed/{{ l.youtube.split('v=')[1] }}" width="600" height="400" allowfullscreen></iframe>
            <a class="delete-btn-lesson" href="/dersler/delete/{{l.id}}">Sil</a>
            </div>
        {% endfor %}
        
        

    </main>

</div>
{% endblock %}
</body>
</html>
