<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
 {% block content %}
<div class="container">

    <aside class="sidebar">
        <h2>ElaAdmin</h2>
        <ul>
            <li class="active"><a href="/">Dashboard</a></li>
            <li><a href="/ogrenciler">Öğrenciler</a></li>
            <li><a href="/dersler">Dersler</a></li>
            <li><a href="/ayarlar">Ayarlar</a></li>
        </ul>
    </aside>

    <main class="main">
        <div class="topbar">
            Hoş geldin
        </div>

        <div class="card">
            <h3>Örnek Ekran</h3>
            <p>Online school panel içeriği</p>
        </div>
    </main>

</div>
{% endblock %}
</body>
</html>
