<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="container">
{% block content %}
    <aside class="sidebar">
        <h2>ElaAdmin</h2>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li class="active"><a href="/ogrenciler">Öğrenciler</a></li>
            <li><a href="/dersler">Dersler</a></li>
            <li><a href="/ayarlar">Ayarlar</a></li>
        </ul>
    </aside>

    <main class="main">
        <div class="topbar">
            Hoş geldin
        </div>
{% for cls in classes %}
            <div class="card">
            <h2>{{ cls.name }}</h2>

            {% if cls.students %}
                <ul>
                {% for student in cls.students %}
                    <li>
                        {{ student[1] }} 
                        (No: {{ student[2] }}) 
                        - Puan: {{ student[4] }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Bu sınıfta öğrenci yok</p>
            {% endif %}
            </div>
        {% endfor %}
        

    </main>

</div>
{% endblock %}
</body>
</html>
